.p-parallax-img {
  overflow: hidden;
  position: relative;

}

.p-parallax-img__item {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}