// ----------------------------------------------
// モジュールの使用時に必要なCSSです
// ----------------------------------------------

.p-parallax-img {
  overflow: hidden;
  position: relative;

  img {
    will-change: transform;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
  
    &.is-reverse-parallax {
      top: inherit;
      bottom: 0;
    }
  }
}
