.p-parallax-img {
  overflow: hidden;
  position: relative;

}

.p-parallax-img__item {
  will-change: transform;
  position: absolute;
  left: 0;
  width: 100%;

  &.is-normal-parallax {
    top: 0;
  }

  &.is-reverse-parallax {
    bottom: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}