
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #111;
  min-height: 100vh;
  padding: 80vh 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  width: 100%;
  height: 100vh;
}

.c-img-mask:nth-child(1) { grid-area: 1 / 1 / 3 / 5; }
.c-img-mask:nth-child(2) { grid-area: 3 / 1 / 5 / 3; }
.c-img-mask:nth-child(3) { grid-area: 3 / 3 / 4 / 5; }
.c-img-mask:nth-child(4) { grid-area: 4 / 3 / 5 / 5; }

//-----------------------------------------------------------------
//.c-img-mask
//-----------------------------------------------------------------
.c-img-mask {
  overflow: hidden;
  position: relative;

  img {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
