
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #111;
  min-height: 100vh;
  padding: 120vh 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.grid-img:nth-child(1) { grid-area: 1 / 1 / 4 / 3; }
.grid-img:nth-child(2) { grid-area: 1 / 3 / 4 / 5; }
.grid-img:nth-child(3) { grid-area: 1 / 5 / 4 / 7; }
.grid-img:nth-child(4) { grid-area: 1 / 7 / 4 / 9; }
// .grid-img:nth-child(5) { grid-area: 5 / 1 / 8 / 3; }
// .grid-img:nth-child(6) { grid-area: 5 / 3 / 8 / 5; }
// .grid-img:nth-child(7) { grid-area: 5 / 5 / 8 / 7; }
// .grid-img:nth-child(8) { grid-area: 5 / 7 / 8 / 9; }



//-----------------------------------------------------------------
//.p-parallax-img
//-----------------------------------------------------------------
.p-parallax-img {
  overflow: hidden;
  position: relative;

}

.p-parallax-img__item {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;

  height: 150%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
