
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 16px;
  --font-en: "EB Garamond", serif;
  --font-ja: "Noto Sans JP", sans-serif;
}

body {
  color: #fff;
  font-family: var(--font-ja);
  background: #111;
  // min-height: 100vh;
  // padding: 20vh var(--gap);
}

.kv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  height: 100vh;
}
.kv__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.kv__ttl {
  font-size: 6vw;
  font-family: var(--font-en);
  font-weight: 500;
  margin-bottom: 16px;
}

.kv-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  // aspect-ratio: 1 / 1;
  width: 100%;
  height: 100vh;
  padding: calc(var(--gap) * 4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  aspect-ratio: 1 / 1;
  width: 100%;
  padding: calc(var(--gap) * 4);
}

.grid-img:nth-child(1) { grid-area: 3 / 1 / 6 / 3; }
.grid-img:nth-child(2) { grid-area: 3 / 3 / 6 / 5; }
.grid-img:nth-child(3) { grid-area: 3 / 5 / 6 / 7; }
.grid-img:nth-child(4) { grid-area: 3 / 7 / 6 / 9; }
// .grid-img:nth-child(5) { grid-area: 5 / 1 / 8 / 3; }
// .grid-img:nth-child(6) { grid-area: 5 / 3 / 8 / 5; }
// .grid-img:nth-child(7) { grid-area: 5 / 5 / 8 / 7; }
// .grid-img:nth-child(8) { grid-area: 5 / 7 / 8 / 9; }



//-----------------------------------------------------------------
//.p-parallax-img
//-----------------------------------------------------------------
.p-parallax-img {
  overflow: hidden;
  position: relative;

}

.p-parallax-img__item {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
