
@mixin smMin {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin mdMin {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin smMax {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin mdMax {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 16px;
  --gap-sm: 8px;
  --font-en: "EB Garamond", serif;
  // --font-en: "Playfair Display", serif;
  --font-ja: "Noto Sans JP", sans-serif;
}

body {
  color: #fff;
  font-family: var(--font-ja);
  line-height: 1.7;
  background: #111;;
}

.kv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  width: 100%;
  height: 100vh;
  padding: calc(var(--gap) * 4);
  @include mdMax {
    grid-column-gap: var(--gap-sm);
    grid-row-gap: var(--gap-sm);
    padding: calc(var(--gap-sm) * 4);
  }
}
.kv__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kv__ttl {
  font-size: 6vw;
  font-family: var(--font-en);
  font-weight: 500;
  margin-bottom: 8px;
  @include smMax {
    font-size: 12vw;
  }
}

.kv__img {
  img {
    object-position: center 20%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  width: 100%;
  padding: calc(var(--gap) * 8);
  @include smMin {
    aspect-ratio: 1 / 1;
  }
  @include mdMax {
    grid-column-gap: var(--gap-sm);
    grid-row-gap: var(--gap-sm);
    padding: calc(var(--gap-sm) * 4);
    margin-bottom: 4vw;
  }
}

.grid-item__caption {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

.grid-item-01 {
  grid-area: 3 / 5 / 6 / 7;
  @include smMax {
    grid-area: 2 / 1 / 6 / 5;
  }
}
.grid-item-02 {
  grid-area: 3 / 7 / 6 / 9;
  @include smMax {
    grid-area: 2 / 5 / 6 / 9;
  }
}
.grid-item-03 {
  grid-area: 3 / 1 / 6 / 5;
  @include smMax {
    // grid-area: 6 / 1 / 8 / 9;
    grid-area: 7 / 1 / 9 / 9;
  }
}

.grid-img {
  height: 100%
}

.wide {
  width: 100%;
  height: 300px;
}

